@import "tailwindcss";

body{
  margin:0;
  background:#070b14;
  font-family:Segoe UI;
  overflow-x:hidden;
}

/* BACKGROUND GLOW */

body::before{
  content:"";
  position:fixed;
  width:700px;
  height:700px;
  background:radial-gradient(
    rgba(59,130,246,.15),
    transparent 70%
  );

  top:-200px;
  right:-200px;
  z-index:-1;
}

body::after{
  content:"";
  position:fixed;
  width:700px;
  height:700px;
  background:radial-gradient(
    rgba(34,197,94,.10),
    transparent 70%
  );

  bottom:-250px;
  left:-250px;
  z-index:-1;
}

/* SCROLLBAR */

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background:#070b14;
}

::-webkit-scrollbar-thumb{
  background:#1e293b;
  border-radius:999px;
}

/* SMOOTH */

*{
  transition:
    background .25s,
    border .25s,
    transform .25s,
    box-shadow .25s,
    opacity .25s;
}

/* CARD HOVER */

.rounded-\[30px\]:hover{
  transform:translateY(-4px);

  box-shadow:
    0 20px 40px rgba(0,0,0,.25),
    0 0 0 1px rgba(255,255,255,.03);
}

/* BUTTON */

button{
  cursor:pointer;
}

button:hover{
  transform:translateY(-2px);
}

/* INPUT */

input{
  color:white;
}

/* MOBILE */

@media(max-width:1400px){

  .grid-cols-4{
    grid-template-columns:
      repeat(2,minmax(0,1fr));
  }

}

@media(max-width:1150px){

  .grid-cols-\[430px_1fr\],
  .grid-cols-\[1fr_340px\]{
    grid-template-columns:1fr;
  }

}

@media(max-width:950px){

  aside{
    display:none;
  }

  main{
    padding:20px !important;
  }

  .flex.items-center.justify-between.mb-8{
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
  }

}

@media(max-width:700px){

  .grid-cols-4{
    grid-template-columns:1fr;
  }

  .text-\[56px\]{
    font-size:42px !important;
  }

  .text-\[44px\]{
    font-size:34px !important;
  }

  .w-\[290px\],
  .h-\[290px\]{
    width:220px !important;
    height:220px !important;
  }

  .w-\[200px\],
  .h-\[200px\]{
    width:150px !important;
    height:150px !important;
  }

}